

<footer class="d-flex flex-wrap justify-content-between align-items-center py-3 mt-4 border-top  " style="background-color: rgba(0, 0, 0, .1); max-height: 190px;">
    <div class="col-md-4 d-flex align-items-center">
      <a href="/" class="mb-3 me-2 mb-md-0 text-muted text-decoration-none lh-1">
        <img src="../../../favicon.ico" style="height: 25px; margin: 0 5px;" alt="Iset Rades">
      </a>
      <span class="mb-3 mb-md-0 text-muted">© 2023 Company, Inc</span>
    </div>

    

    <ul class="container text-center text-muted" >
        <b>Dev :</b> <br>
        Saadaoui Yassine : saadaouiy51@gmail.com <br>

     </ul>
  </footer>