<nav class="navbar navbar-expand-lg bg-primary" data-bs-theme="dark">
    <div class="container-fluid">
      <a class="navbar-brand " routerLink="">Gestion des sessions de formations</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarColor01" aria-controls="navbarColor01" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse " id="navbarColor01">
        <ul class="navbar-nav ms-auto">
            
          <li class="nav-item">
            <a class="nav-link " routerLink=""  routerLinkActive="active-link" [routerLinkActiveOptions]='{exact:true}' >Acceuil
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link " routerLink=""  routerLinkActive="active-link" [routerLinkActiveOptions]='{exact:true}' >Formations
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link " routerLink=""  routerLinkActive="active-link" [routerLinkActiveOptions]='{exact:true}' >Espace Candidats
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link " routerLink=""  routerLinkActive="active-link" [routerLinkActiveOptions]='{exact:true}' >Espace Formateurs
            </a>
          </li>


          <!-- <li   class="nav-item dropdown">
            <a class="nav-link dropdown-toggle " data-bs-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">Client</a>
            <div class="dropdown-menu">
              <a class="dropdown-item btn" routerLink="/client" >Clients</a>
              
              <div class="dropdown-divider"></div>
              <a class="dropdown-item btn" routerLink="/client/add">Ajouter Client</a>
              <a class="dropdown-item btn" routerLink="/client/edit">Editer Client</a>

            </div>
          </li> -->

            <!-- to make a left mrgggin -->
            <li   class="nav-item dropdown mx-5"></li>



          
          
          </ul>
      </div>
    </div>
  </nav>